body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: tomato;
}

.site-title{
    color: cornflowerblue;
}

#my-image{
    box-shadow: 0px 0px 2px 1px #000;
}

ul{
    list-style-type: square;
}

.hobby:nth-child(odd){
    background-color: chartreuse;
}

.nav-list{
    list-style-type: none;
}

a:link{ 
    text-decoration: none;
    background-color: rgb(0, 255, 89);
    border-style: dashed;
}

a:hover{
    color: rgb(0, 21, 255);
}

a:focus{
    color: yellow;
}
